<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
      background-color: rgb(177, 220, 220);
    }

    .alert {
      margin: 0px;
    }
  </style>

  <title></title>
</head>

<body>

  {% include "insurance/navbar.html" %}
  <br><br>
  <center>
    <h3 class='alert alert-success' style="margin-bottom:0px;background-color: rgb(176, 240, 240);">About Us !</h3>
  </center>
  <div class="jumbotron text-center" style="margin-bottom: 0px;margin-top: 0px;background-color: rgb(177, 220, 220);">
    
    <p class="lead">“Care and Share”</p>
    <hr class="my-4">
    <p>Explore our Website.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/" role="button">HOME</a>
    </p>
    <br><br><br><br>
  </div>

  {% include "insurance/footer.html" %}
</body>

</html>
