body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-image: url("C:\Users\basapde\OneDrive - Tecnotree\Pictures\travel.gif");
  background-repeat: no-repeat;
  background-size: cover;
  color:rgb(5, 5, 129);
  font-size: large;
  font-weight: bolder;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  color: white;
  background-color:rgb(5, 5, 129);
  color:white;

}

h1{
  color:rgb(5, 5, 129);
  text-align: center;
}

section{
  border-block:rgb(5, 5, 129) ;
  
}

